/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main, sans-serif);
  font-variation-settings: "wght" 400;
  text-align: center;
  background: repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px), repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px), linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-block {
  font-family: var(--font-accent);
  font-weight: 400;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 1);
  margin-inline: clamp(0rem, -8.187rem + 34.93vw, 23.25rem);
  margin-block: 100px;
  padding-inline: clamp(0.875rem, -1.469rem + 10vw, 7.531rem);
  padding-block: clamp(7.5rem, 7.324rem + 0.751vw, 8rem);
  width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-title {
  font-size: clamp(3.063rem, 2.348rem + 1.905vw, 4.063rem);
  text-transform: uppercase;
}

.header-text {
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  text-transform: uppercase;
}

.card {
  display: grid;
  place-items: center;
  width: clamp(23.438rem, 16.373rem + 30.141vw, 43.5rem);
  margin-inline: clamp(0rem, -8.187rem + 34.93vw, 23.25rem);
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 1);
  margin-bottom: 49px;
}

.card-title-block {
  border-bottom: 2px solid black;
  width: 100%;
}

.card-description-block {
  border-top: 2px solid black;
  width: 100%;
}

.card-title {
  font-family: var(--font-main);
  font-variation-settings: "wght" 700;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  justify-self: start;
  margin-top: 6px;
  margin-bottom: 9px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 662px;
  text-align: left;
  font-size: var(--font-size);
  text-shadow: 2px 2px 4px rgba(12, 156, 212, 0.6);
}

.card-image {
  max-height: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  position: relative;
}

.card-image-label {
  position: absolute;
  top: 20px;
  right: 12px;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-family: var(--font-accent);
  line-height: 100%;
  text-transform: uppercase;
  z-index: 1;
  font-weight: 400;
  color: black;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (-webkit-text-stroke: 1px white) {
  .card-image-label {
    -webkit-text-stroke: 1px white;
  }
}

@supports not (-webkit-text-stroke: 1px white) {
  .card-image-label {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  }
}

.card-image-label-other-format {
  text-transform: lowercase;
}

.card-image img {
  width: 100%;
  height: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  object-fit: cover;
}

.like-icon {
  width: 39px;
  height: 36px;
  cursor: pointer;
}

.card-description {
  line-height: 21px;
  text-align: left;
  width: 100%;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: var(--font-size);
  text-shadow: 2px 2px 4px rgba(223, 30, 181, 0.6);
}

.card-description-my-text {
  padding-top: 27px;
  padding-bottom: 24px;
}

.card__icon-button {
  border: 2px solid transparent;
  transition: border 0.3s ease;
  height: 38px;
  padding: 0;
  background: none;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: black;
}

.card-block__icon-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding-right: 25px;
  padding-bottom: 28px;
}

.button__text {
  font-family: var(--font-accent);
  background-color: transparent;
  font-size: 14px;
  position: relative;
  line-height: 90%;
  font-weight: 400;
  letter-spacing: 0px;
  mix-blend-mode: difference;
}

.card__like-button {
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 37px;
  padding-right: 37px;
  max-width: 130px;
  text-align: center;
  height: 38px;
  max-height: 100%;
  overflow: hidden;
}

.card-and-footer__icon_like-button {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 1);
  cursor: pointer;
}

.card-and-footer__icon_like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card-and-footer__icon_like-button:hover::before {
  transform: scaleX(1);
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 1);
  transition: box-shadow 0.3s ease;
}

.footer__icon-button {
  margin-bottom: 103px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 19px;
  padding-right: 21px;
  outline: none;
  flex-direction: row;
  max-width: 339px;
  width: 100%;
}

.footer__icon-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 1);
}

.window[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 1);
  width: clamp(21.313rem, 20.96rem + 1.502vw, 22.313rem);
  overflow-x: hidden;
  padding: 0px;
}

.window::backdrop {
  background-color: rgba(0, 0, 0, 1);
  opacity: 75%;
}

.window-icon-text {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: clamp(17.188rem, 16.791rem + 1.69vw, 18.313rem);
}

.window-text {
  font-family: var(--font-accent);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-align: left;
  max-width: 234px;
  width: 100%;
}

.icon-floppy-window {
  width: 39px;
  height: 39px;
}

.icon-floppy {
  z-index: 1;
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

.window-close {
  width: clamp(16.063rem, 15.27rem + 3.38vw, 18.313rem);
  max-width: 293px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.window-close-text {
  display: inline-block;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  mix-blend-mode: difference;
}

.image-list {
  filter: sepia(90%);
}

.image-sprint {
  filter: invert(0.3);
}
.image-run {
  filter: hue-rotate(40deg);
}
.image-care {
  filter: saturate(80%);
}
.image-support {
  filter: grayscale(0.6);
}
.image-experience {
  filter: blur(1px) brightness(0.5) grayscale(30%);
}

.main-body {
  transition: fill 0.3s ease-in-out;
}

.core {
  transition: fill 0.3s ease-in-out 0.05s;
}

.contour {
  fill: black; /* Начальное состояние: без заливки */
  transition: fill 0.3s ease-in-out 0.12s, stroke 0.3s ease-in-out 0.12s; /* Плавность с задержкой */
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: black;
  transition-delay: 0s;
  transition: fill 0.3s ease-in-out;
}

.like-icon:hover .main-body {
  fill: black;
  transition: fill 0.3s ease-in-out 0.05s;
}

.like-icon:active .core {
  fill: var(--fill-color-heart);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--fill-color-heart);
  transition-delay: 0.05s;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s;
  transition-delay: 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon.is-liked .core {
  fill: var(--fill-color-heart);
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color-heart);
}

.like-icon.is-liked .contour {
  fill: var(--fill-color-heart);
  animation: fill 0.3 ease-in 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  fill: var(--fill-color-heart);
  animation: sparks 0.3s ease-in 0.3s;
}

@media (width <= 375px) {
  .footer__icon-button {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 52px;
    max-width: 310px;
    width: 100%;
  }

  .card-image-label {
    right: 3px;
  }

  .icon-floppy {
    width: 28px;
    height: 28px;
  }

  .window {
    max-width: 341px;
    width: 100%;
    max-height: 191px;
    height: 100%;
    overflow-y: hidden;
  }

  .window-icon-text {
    max-width: 257px;
    width: 100%;
  }
}
