/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: 'Inter', sans-serif;
  --font-accent: 'PressStart2P', sans-serif;
  --font-weight-card-text: 400;
  --font-weight-card-title: 700;
  --font-size: 18px;
  --fill-color-heart: red;
}